@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Clipchamp Team</h1>
    <p>Welcome to our proof of concept for Clipchamp AI, an innovative tool designed to enhance video editing capabilities using artificial intelligence. This integration showcases how .NET 8 can be leveraged to create powerful applications that utilize Clipchamp's advanced video processing features. Explore how AI-driven tools can streamline video production, automate editing tasks, and deliver high-quality results with ease.</p>
    <p>Clipchamp is an online video editing tool developed by Australian company Clipchamp Pty Ltd., which is now a subsidiary of Microsoft. It is non-linear editing software that allows users to import, edit, and export audiovisual material directly in an Internet browser window.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>



